*{
    padding: 0%;
    margin:0%;
}
p{
    color:blue;
    font-size:25px;
}
#commentaire{
    color:black;
}
h1{
    display: flex;
    justify-content:center;
    background-color: crimson;
    color:white;
    padding: 10%;
}
h2{
    display:flex;
    justify-content: center;
    background-color: cornflowerblue;
    padding:5%;
    color:white;
}
main{
background-color: darkblue;
}
form{
    flex-direction: column; 
    color: white;
}
div{
    display:flex;
    justify-content: left;
    padding:5%;
}
#bt{
    display:flex;
    justify-content: center;
}
footer{
    padding-top:10%;
    background-color: grey;
    color:rgb(189, 184, 184);
}
button{
        background-color: rgb(20, 42, 235);
        border: none;
        border-radius: 100%;
        color: rgb(255, 254, 254);
        padding: 32px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 4px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
    .vrai{
          color:rgb(54, 228, 19)
        }
    .faux{
            color:rgb(252, 0, 50)
        }
      
